{% block title %}Ajouter un nouvel auteur{% endblock %}

{% block body %}
    <h1>ADD Book</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}



        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Ajouter Book aaaaa ala1</button>
                <button type="submit" class="btn btn-primary">update1</button>
                <button type="submit" class="btn btn-primary">update2</button>

                <button type="submit" class="btn btn-primary">hello word</button>


    {{ form_end(form) }}
{% endblock %}
